<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Error Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>
<body>
<section class="my-5">
  <div class="container">
    <p>
      There was an issue with the files you uploaded.
      Please go back to home page.<a th:href="@{/}">Home Page</a>
    </p>
  </div>
</section>
</body>
</html>